<div class="chance-wrap">
    <div class="chance-header">
        欢迎来到中国领先的众包平台—猪八戒网
        <p>说需求，询报价</p>
    </div>
    <form class="chance-form">
        <div class="chance-box">
            <label><span>我的需求</span></label><input type="text"
            placeholder="点击选择需求类型"
            maxlength="20"
            id="J-market-chance"
            class="market-input select-mul"
            name="need" readonly="readonly" onfocus="this.blur()"><span
            class="select-item">+</span>
        </div>
        <div class="chance-box">
            <label><span>联系电话</span></label><input type="text"
            placeholder="请正确填写，方便客服联系您"
            name="tel" id="mobile"
            maxlength="11"
            class="market-input">
            <span class="txt-mobile-flash">*</span>
        </div>
        <div class="chance-box">
            <label><span>我的称呼</span></label><input type="text"
            placeholder="X女士/X先生"
            maxlength="8" id="person"
            name="name"
            class="market-input">
            <span class="txt-flash">*</span>
        </div>
        <input type="hidden" name="ct_bid" value="1420" id="dialog_ct_bid" />
        <div class="select-section">
            <!-- <span class="select-title">（多选项，最多可选3项）</span> -->
            <i class="arrow"></i>
            <div class="market-select" id="market-select-combo">
                <label for="bzsj" class="market-ui-checkbox"><span class="market-circle"
                    data-value="标志设计"></span>标志设计<input type="checkbox"
                    id="bzsj"
                class="unvisible-checkbox"></label>
                <label for="wdtg" class="market-ui-checkbox"><span class="market-circle"
                    data-value="网店推广"></span>网店推广<input type="checkbox"
                    id="wdtg"
                class="unvisible-checkbox"></label>
                <label for="xcpsj" class="market-ui-checkbox"><span class="market-circle" data-value="宣传品设计"></span>宣传品设计<input
                type="checkbox" id="xcpsj" class="unvisible-checkbox"></label>
                <label for="wzkf" class="market-ui-checkbox market-margin-0"><span class="market-circle"
                    data-value="网站开发"></span>网站开发<input
                type="checkbox" id="wzkf" class="unvisible-checkbox"></label>
                <label for="appkf" class="market-ui-checkbox"><span class="market-circle" data-value="APP开发"></span>APP开发<input
                type="checkbox" id="appkf" class="unvisible-checkbox"></label>
                <label for="wlyx" class="market-ui-checkbox"><span class="market-circle"
                    data-value="网络营销"></span>网络营销<input type="checkbox"
                    id="wlyx"
                class="unvisible-checkbox"></label>
                <label for="cybmh" class="market-ui-checkbox"><span class="market-circle" data-value="创意变漫画"></span>创意变漫画<input
                type="checkbox" id="cybmh" class="unvisible-checkbox"></label>
                <label for="waxz" class="market-ui-checkbox market-margin-0"><span class="market-circle"
                    data-value="文案写作"></span>文案写作<input
                type="checkbox" id="waxz" class="unvisible-checkbox"></label>
                <label for="bqmz" class="market-ui-checkbox"><span class="market-circle"
                    data-value="帮取名字"></span>帮取名字<input type="checkbox"
                    id="bqmz"
                class="unvisible-checkbox"></label>
                <label for="qtxq" class="market-ui-checkbox"><span class="market-circle"
                    data-value="其他需求"></span>其他需求<input type="checkbox"
                    id="qtxq"
                class="unvisible-checkbox"></label>
            </div>
            <!-- <a href="javascript:;" class="market-select-ok">选好了</a> -->
        </div>
        <a href="javascript:;" class="chance-submit" id="J-choice-btn" data-linkid="10005058"></a>
        <div class="btn-flash"></div>
    </form>
    <div class="change-tips">
        <ul class="tips-detail">
            <li class="tips-option">
                这里已经为300万家中小型企业解决难题
            </li>
            <li class="tips-option">
                这里积聚了1100万资深服务商，更低价格更多选择
            </li>
            <li class="tips-option">
                这里解决需求有健全的诚信保障制度，不满意双倍赔付
            </li>
        </ul>
        <a href="javascript:void(0);" data-linkid="10001808" class="market-delete-cookie">[不再提示]</a>
    </div>
    <!-- 关闭按钮 -->
    <div class="chance-close"><span class="market-delete" data-linkid="10001809">×</span></div>
</div>
<div class="cover"></div>