<div class="market-chance-success">
    <div class="chance-close"><span class="market-delete" data-linkid="10001809">×</span></div>
    <span class="mar-icon-success"></span>
    <span class="chance-success-symbol">成功</span>
    <p class="chance-success-detail">您的需求我们已收到，客服将尽快联系您，<br/>请保持手机畅通。</p>
    <span class="market-success-know"></span>
    <div class="btn-flash-success"></div>
</div>