<form id="J_payment-form">
    <div class="pay-layer <%=theme%>" id="J_pay-layer">
        <div class="pay-select">
            <div class="pay-close"></div>
            <div class="pay-title">请选择支付方式</div>
            <p class="pay-action" id="J_payment-wrap">
            </p>
        </div>
    </div>
    <div class="hidden">
        <input type="hidden" value="" name="bankcode">
        <input type="hidden" value="" name="balance_amount">
        <input type="hidden" value="" name="ebank_amount">
        <input type="hidden" value="" name="coupon">
        <input type="hidden" value="" name="paychnid">
        <input type="hidden" value="" name="data">
    </div>
</form>
