<form id="J_payment-form">
    <div class="pay-layer" id="J_pay-layer">
        <div class="pay-list">
            <div class="pay-icon"></div>
            <label class="pay-name">微信支付</label>
            <div class="check-img"></div>
        </div>
    </div>
    <div class="hidden">
        <input type="hidden" value="" name="bankcode">
        <input type="hidden" value="" name="balance_amount">
        <input type="hidden" value="" name="ebank_amount">
        <input type="hidden" value="" name="coupon">
        <input type="hidden" value="" name="paychnid">
        <input type="hidden" value="" name="data">
    </div>
</form>
