<div class="zbj-poptip">
    <div class="zbj-poptip-shadow">
        <div class="zbj-poptip-container">
            <div class="zbj-poptip-arrow"><em></em> <span></span></div>
            <div class="zbj-poptip-content" data-role="content"></div>
        </div>
        <i class="zbj-poptip-close">×</i>
    </div>
</div>