<div id="paidan-tip-countdown" class="paidan-tip-countdown hide">
    <span class="paidan-tip-countdown-ft"></span>
    <span class="paidan-tip-countdown-top"></span>
    <div class="paidan-tip-countdown-inner">
        <div class="paidan-tip-countdown-bd clearfix">
            <div class="paidan-tip-countdown-move"></div>
            <div class="paidan-tip-countdown-time-auto j-paidan-tip-countdown" data-time="<%=data.time%>">10:00</div>
            <div class="paidan-tip-countdown-time-txt">倒计时</div>
        </div>
        <a class="paidan-tip-countdown-txt"  href="<%=data.url%>" target="_blank">查看派单详细 &gt;</a>
    </div>
</div>