<div class="paidan-miss-tip">
    <a class="paidan-miss-close" href="###"></a>
    <div class="paidan-miss-bd">
        <p class="paidan-miss-tit">
            真遗憾，刚刚您错过了一条官方派单~
        </p>
        <p class="paidan-miss-con">
            由于您10分钟内未响应官方派单，系统已将您的状态置为<strong>下班</strong>
            </br>
            今天已经<%=data.count%>次超时未响应派单，若超过3次超时未响应，您<strong>明天将无法上班</strong>
        </p>
    </div>
    <div class="paidan-miss-ft">
        <a class="paidan-miss-btn paidan-miss-history" href="javascript:;">查看历史派单</a>
        <a class="paidan-miss-btn paidan-miss-rework" href="javascript:;">我要重新上班</a>
    </div>
</div>