<div class="zbj-captcha <%=theme%>">
    <div class="zbj-captcha-title yahei">请输入验证码</div>
    <div class="zbj-captcha-body">
        <input class="zbj-captcha-input" placeholder="图片验证码" type="text" value="" name="catcha" role="captcha">
        <a href="javascript:void(0);" class="zbj-captcha-refimg" role="refresh">
            <img role="captchaimg" class="yzm" src="#" alt="">
        </a>
        <a href="javascript:void(0);" class="zbj-captcha-refimg zbj-captcha-refimg-txt" role="refresh">看不清，换一张</a>
        <input type="hidden" name="seed" role="seed"/>
    </div>
</div>