<div class="msg-main">
    <p class="msg-con">
	    <%if(type=="ok") {%>
			<i class="ico-ok"></i>
		<%}%>
		<span>
        	<%=con%>
        </span>
    </p>
    <%if(error.length>0) {%>
    <p class="msg-error">
    	<%=error%>
    </p>
    <a href='javascript:void(0)' class="btn-sure">
        确定
    </a>
    <%}%>
</div>
