<li data-pid="<%=file.id%>" class="zbj-uploadfile-item">
    <div class="zbj-uploadfile-percent-ui"></div>
    <div class="zbj-uploadfile-item-detail">
        <div class="zbj-uploadfile-name"><%=file.name%></div>
        <a data-pid="<%=file.id%>" href="javascript:void(0)" class="zbj-uploadfile-delete" data-olddel="<%=olddel%>" action-type="delete">x</a>
        <span class="zbj-uploadfile-status">等待上传...</span>
        <span class="zbj-uploadfile-percent-val"></span>
        <input type="hidden" name="upload_files[]" value=""/>
    </div>
</li>